extends layout

block content
  h1= title
  h3 Pick an option from the list below
  ul 
    li 
      a(href='/chips') Chip Master File 
    li 
      a(href='/inventory') Chip Inventory 
    li My Projects