extends layout

block navigation
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    div.container-fluid
      a.navbar-brand(href="/") My Lab
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse(id="navbarNav")
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(href='/chips') Chip Master File 
          li.nav-item
            a.nav-link.active(href='/inventory') Chip Inventory 
          li.nav-item
            a.nav-link(href='/projects') My Projects 
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Settings
            ul.dropdown-menu
              li
                a.dropdown-item(href="/manufcaturers/") Manufacturers
              li
                a.dropdown-item(href="#") Another action
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href="#") Something else here

block content
  p Enter the new chip inventory
  form(action="/inventory/inventorynew/" method="POST")
    div.form-group
      label(for="chip_id") Base Chip Number:
      select#chip_id.form-control(type='select' placeholder='Select chip' name='chip_id' required='true')
        for chip in chips
          option(value=chip.id) #{chip.chip_number}
    div.form-group
      label(for="mfg_code_id") Manufacturer:
      select#mfg_code_id.form-control(type='select' placeholder='Select Manufacturer' name='mfg_code_id' )
        for mfg in manufacturers
          option(value=mfg.id) #{mfg.display_name}
    div.form-group
      label(for="full_number") Chip Number:
      input#full_number.form-control(type="text" placeholder="Enter actual number on the chip" name="full_number")
    div.form-group
      label(for="date_code") Date Code:
      input#date_code.form-control(type="text" placeholder="Ex) 9315" name="date_code")
    div.form-group
      label(for="quantity") Quantity:
      input#quantity.form-control(type="text" placeholder="Enter quantity to be added" name="quantity")
    br
    button.btn.btn-default.btn-primary(type="submit") Submit

