body {
  padding-top: 70px;
}

#super {
  vertical-align: super;
  font-size: medium
}

#sub {
  vertical-align: sub;
  font-size: medium
}

.pintable,
.specstable {
  border-collapse: collapse;
}

.pintable td,
.specstable td {
  border: 1px solid black;
  padding: 3px;
  vertical-align: top;
}

.pintable th,
.specstable th {
  border: 1px solid black;
  border-bottom: 3px solid black;
  padding: 3px;
}

.pindiagram {
  border-collapse: collapse;
  margin: 0 auto;
}

.leftpinsym {
  padding-right: 0px;
}

.rightpinsym {
  padding-left: 0px;
}

.leftpinsym,
.rightpinnum,
.rightresistpinnum,
.righttoppinnum,
.rightbottompinnum {
  text-align: right;
}

.rightpinsym,
.leftpinnum,
.leftresistpinnum,
.lefttoppinnum,
.leftbottompinnum {
  text-align: left;
}

.leftpinnum,
.rightpinnum {
  min-width: 50px;
  padding: 5px;
}

.leftresistpinnum,
.rightresistpinnum {
  min-width: 20px;
  padding: 5px;
}

.leftsipedge {
  min-width: 2px;
  border: 0;
  border-left: 1px solid black;
}

.rightsipedge {
  min-width: 2px;
  border: 0;
  border-right: 1px solid black;
}

.leftresistpinnum,
.leftpinnum {
  border: 0;
  border-left: 1px solid black;
}

.rightresistpinnum,
.rightpinnum {
  border: 0;
  border-right: 1px solid black;
}

.lefttoppinnum,
.righttoppinnum {
  border: 0;
  border-bottom: 1px solid black;
}

.leftbottompinnum,
.rightbottompinnum {
  border: 0;
  border-top: 1px solid black;
}

.toppinsym {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: end;
}

.bottompinsym {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: start;
}

#dpindiagram {
  float: left;
  width: 40%;
}

#dpindiagramwide {}

.specstable {}

html>body #dpindiagram {
  width: 40%;
}

#dspecs,
#dnotes {
  clear: both;
  margin-top: 10px;
}

.spcaption,
.note {
  font-style: italic;
  font-size: 80%;
}

.neg {
  text-decoration: overline;
}

.searchdiv {
  text-align: center;
  margin: 20px;
  display: block;
}

.searchbox {
  padding: 10px;
  text-align: center;
}

.searchbox input {
  font-size: 12pt;
  margin-left: 5px;
  margin-right: 5px;
}

.yaml_layout  
{  
   font-family: 'Courier New', Courier, monospace;  
   font-size: 10pt;   
}

.resist_pink {
  background-color: #d8a0a6;
  min-width: 8px;
}

resist_silver {
  background-color: silver;
  min-width: 8px;
}

.resist_gold {
  background-color: gold;
  min-width: 8px;
}

.resist_black {
  background-color: #0e0e10;
  min-width: 8px;
}

.resist_brown {
  background-color: #7e4b26;
  min-width: 8px;
}

.resist_red {
  background-color: #a72920;
  min-width: 8px;
}

.resist_orange {
  background-color: #f67828;
  min-width: 8px;
}

.resist_yellow {
  background-color: #f6b600;
  min-width: 8px;
}

.resist_green {
  background-color: #61993b;
  min-width: 8px;
}

.resist_blue {
  background-color: #001cb0;
  min-width: 8px;
}

.resist_violet {
  background-color: #76689a;
  min-width: 8px;
}

.resist_gray {
  color: #7a888e;
  min-width: 8px;
}

.resist_white {
  background-color:#e3d9c6; color:black;
  min-width: 8px;
}