body
{
  background: white;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

a:link { color: #0000CC; }
a:visited { color: #6666CC; }
a:hover { color: #444466; }

#super {
  vertical-align: super;
  font-size: medium
}

#sub {
  vertical-align: sub;
  font-size: medium
}

.pintable, .specstable
{
  border-collapse: collapse;
}

.pintable td, .specstable td
{
  border: 1px solid black;
  padding: 3px;
  vertical-align: top;
}

.pintable th, .specstable th
{
  border: 1px solid black;
  border-bottom: 3px solid black;
  padding: 3px;
}

.pindiagram
{
  border-collapse: collapse;
  margin: 0 auto;
}

.leftpinsym
{
  padding-right: 5px;
}

.rightpinsym
{
  padding-left: 5px;
}

.leftpinsym, .rightpinnum, .righttoppinnum, .rightbottompinnum
{
  text-align: right;
}

.rightpinsym, .leftpinnum, .lefttoppinnum, leftbottompinnum
{
  text-align: left;
}

.leftpinnum, .rightpinnum
{
  min-width: 50px;
  padding: 5px;
}

.leftpinnum
{
  border: 0;
  border-left: 1px solid black;
}

.rightpinnum
{
  border: 0;
  border-right: 1px solid black;
}

.lefttoppinnum, .righttoppinnum
{
  border: 0;
  border-bottom: 1px solid black;
}

.leftbottompinnum, .rightbottompinnum
{
  border: 0;
  border-top: 1px solid black;
}

#dpindiagram
{
  float: left;
  width: 40%;
  width: 40%;
}

#dpindiagramwide
{
}

.specstable
{
}

html>body #dpindiagram
{`
  width: 40%;
}

#dspecs, #dnotes
{
  clear: both;
  margin-top: 10px;
}

.spcaption, .note
{
  font-style: italic;
  font-size: 80%;
}

.neg
{
  text-decoration: overline;
}

.searchdiv
{
  text-align: center;
  margin: 20px;
  display: block;
}

.searchbox
{
  padding: 10px;
  text-align: center;
}

.searchbox input
{
  font-size: 12pt;
  margin-left: 5px;
  margin-right: 5px;
}
