extends ../layout

block content
  h3 Maufacturer
  table.table.table-striped
    tr
      th Manufacturer
      th Codes

    each n in manufacturers
      tr
        td 
          a(href="/manufacturers/"+n.id) #{n.name}
        td= n.mfg_codes

    if manufacturers.length == 0
      tr
        td(span=5) No manufacturers found &nbsp;
  
  a.btn.btn-primary(href="/manufacturers/new/", role="button") New Manufacturer

  block scripts
  script(type="text/javascript").
    $( document ).ready(function() {
      $("#mfg").addClass("active");
    });
