extends ../layout

block content
  p Create a new manufacturer definition
  form(action="/manufacturers/new" method="POST")
    div.row.mb-3
      label.col-sm-2.col-form-label(for="name") Name:
      input#name.col-sm-4( type="text" placeholder="Ex) Texas Instruments" name="name" value=data.name)

    button.btn.btn-default.btn-primary(type="submit") Submit

block scripts
  script(type="text/javascript").
    $( document ).ready(function() {
      $("#mfg").addClass("active");
      $("#name").focus();
    });
