extends ../layout

block navigation
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    div.container-fluid
      a.navbar-brand(href="/") My Lab
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div#navbarNav.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(href='/chips') Chip Master File 
          li.nav-item
            a.nav-link(href='/inventory') Chip Inventory 
          li.nav-item
            a.nav-link(href='/projects') My Projects 
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle.active(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Settings
            ul.dropdown-menu
              li
                a.dropdown-item(href="/manufacturers") Manufacturers
              li
                a.dropdown-item.active(href="/component_types") Component Types
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href="#") Something else here

block content
  h3 Component Types
  table.table.table-striped
    tr
      th Type
      th Symbol

    each n in component_types
      tr
        td 
          a(href="/component_type/"+n.id) #{n.description}
        td= n.symbol

    if component_types.length == 0
      tr
        td(span=5) No Component Types found &nbsp;
  
  a.btn.btn-primary(href="/component_types/new/", role="button") New Component Type