extends ../layout

block content
  h3 Component Types
  table.table.table-striped
    tr
      th Type
      th Symbol

    each n in component_types
      tr
        td 
          a(href="/component_type/"+n.id) #{n.description}
        td= n.symbol

    if component_types.length == 0
      tr
        td(span=5) No Component Types found &nbsp;
  
  a.btn.btn-primary(href="/component_types/new/", role="button") New Component Type

  block scripts
  script(type="text/javascript").
    $( document ).ready(function() {
      $("#comp").addClass("active");
    });
