extends ../component/edit

block component_specific
    div.row.mb-3
      label.col-sm-2.col-form-label( for="family") Family:
      input#family.col-sm-2(type="text" placeholder="Ex) 7400" name="family" value=data.family)
