extends ../component/new

block component_specific
    div.form-group
      label( for="family") Family:
      input#family.form-control(type="text" placeholder="Ex) 7400" name="family" value=data.family)
