extends ../layout

block content
  p Edit the location type definition
  form(action="/location_types/"+location_type.id method="POST")
    div.row.mb-3
      label.col-sm-2.col-form-label(for="name") Name:
      input#name.col-sm-2( type="text" placeholder="Ex) Room or Shelf" name="name" value=location_type.name)
    div.row.mb-3
      label.col-sm-2.col-form-label( for="description") Description:
      input#description.col-sm-4(type="text" placeholder="Workshop" name="description" value=location_type.description)
    div.row.mb-3
      label.col-sm-2.col-form-label( for="tag") Tag:
      input#tag.col-sm-2(type="text" placeholder="Ex) Shortcut" name="tag" value=location_type.tag)

    button.btn.btn-default.btn-primary(type="submit") Submit

block scripts
  script(type="text/javascript").
    $( document ).ready(function() {
      $("#loctype").addClass("active");
      $("#name").focus();
    });
