extends ../layout

block content
  p Create a new mounting type definition
  form(action="/mounting_types/new" method="POST")
    div.form-group
      label(for="name") Name:
      input#name.form-control( type="text" placeholder="Ex) Through Hole" name="name" value=mounting_type.name)
    div.form-group
      label( for="is_through_hole") Is Through Hole?
      input#is_through_hole.form-control(type="checkbox" name="is_through_hole" value=1)
    div.form-group
      label( for="is_surface_mount") Is Surface Mount?
      input#is_surface_mount.form-control(type="checkbox" name="is_surface_mount" value=1)
    div.form-group
      label( for="is_through_hole") Is Chassis Mount?
      input#is_chassis_mount.form-control(type="checkbox" name="is_chassis_mount" value=1)

    button.btn.btn-default.btn-primary(type="submit") Submit

block scripts
  script(type="text/javascript").
    $( document ).ready(function() {
      $("#mount").addClass("active");
    });
