extends ../layout

block content
  p Edit the list definition
  form(action="/lists/"+list.id method="POST")
    div.row.mb-3
      label.col-sm-2.col-form-label(for="name") List Name:
      input#name.col-sm-2( type="text" placeholder="Ex) IC" name="name" value=list.name)
    div.row.mb-3
      label.col-sm-2.col-form-label(for="description") Description:
      input#description.col-sm-4( type="text" placeholder="Ex) Integrated Circuit" name="description" value=list.description)

    button.btn.btn-default.btn-primary(type="submit") Submit

block scripts
  script(type="text/javascript").
    $( document ).ready(function() {
      $("#list").addClass("active");
      $("#name").focus();
    });
