extends ../component/detail

block component_specific
  p #[strong Capacitance] #{data.capacitance} !{data.unit_label}
  p #[strong Tolerance] #{data.tolerance} %
  p #[strong Working Voltage] #{data.working_voltage} V
